---
layout: swiftui
title: SwiftUI 快速入门教程
thumbnail_image: '/files/notjQuery/notjQuery.png'
---

<div> 
    <h3>1. SwiftUI 简介</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-introduction reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>


<div> 
    <h3>2. 文本与图片</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-text-images reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>3. 视图布局</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-view-layout reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>4. 响应事件</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-event reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>5. 状态进阶</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-advanced-state reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>


<div> 
    <h3>6. 列表视图</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-lists reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>7. 表单视图</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-forms reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>8. 视图容器</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-containers reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>9. Alert 和 Action Sheet 对话框</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-alert reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>10. 视图切换</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-presenting reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>11. 视图变换（Transform）</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-transform reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

<div> 
    <h3>12. 视图动画</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-animation reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>

