<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/post.css?v=javascriptxx"/>
    </head>
    <body>
        <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
            {% if page.thumbnail_image %}
            <img src = "{{page.thumbnail_image}}" width = '640' >
            {% else %}
            <img src="/stylesheets/icon.png" width="640">
            {% endif %}
        </div>
        <header>
            <div class="navWrap">
                <span class="logo">
                    <a href="/">INSAIC</a>
                </span>
                <nav>
                    <ul>
                        <li class="allPostLink">
                            <a href="/notes.html">杂文</a>
                        </li>
                        <li class="aboutLink">
                            <a href="/about.html">关于</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
