<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/index.css?v=2"/>
    </head>
    <body>
        <section class="page-header">
            <h1>SAKA</h1>
            <ul>
                <li>
                    <a href="javascript:void(0)">Notes</a>
                </li>
                <li>
                    <a href="/notes/about.html">About</a>
                </li>
                <li>
                    <a href="https://github.com/cattla/">Github</a>
                </li>
            </ul>
        </section>
        <div class="content">
            <span class="close">×</span>
            {{ content }}
        </div>
        {% include footer.html %}
