{% include header.html %}
<link type="text/css" rel="stylesheet" href="/stylesheets/swiftui.css?xdsxxs"/>
<div class="swiftUI">
    <div class="title">
        <h1>SwiftUI 快速入门</h1>
    </div>
    <div class="textContent">
      <article>
        <p>今年夏天在 San Jose 举行的 WWCD2019，Apple 发布了 SwiftUI，此举可以让 Apple 任何平台的开发变得更加规范快捷，以及可以用更少的代码来实现漂亮动态的应用程序。Better apps. Less code。 本系列教程基于 <a href="https://www.hackingwithswift.com" target="_blank">HackingWithSwift</a> 翻译而来，感谢 Paul Hudson 先生。建议洋文好的朋友，直接阅读原著。<a href="javascript:void(0)" onclick="moreOrLess()" class="moreLink">详情</a>
        </p>
        <div class="more">
        <p>SwiftUI 可以说是一种对 UIKit 的改进，使用声明式的 UI 语法，也有点类似于 Flutter。在学习本教程上，必须拥有一定的 Swift 基础，如果没有也没关系，本系列的教程以实践为主，可以快速入门，或放弃。</p>
        <p>本系列教程必须使用 Xcode 11.0 及以上版本，如果想在 Xcode 实现实时预览效果，则 macOS 必须在 10.15 Catalina 及以上，实时预览比编译到虚拟机上查看效果速度快多了 :-) </p>
        <a href="javascript:void(0)" onclick="moreOrLess()" class="lessLink">收起</a>
        </div>
      </article>
        {{ content }}
    </div>
</div>
<script>
    function moreOrLess() {
        document.querySelector('.textContent').classList.toggle('moreContent');
        return false;
    }
</script>
{% include footer.html %}
